@model CustomerAgreements.Models.DependentQuestionList

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="DependentQuestionID" />
<input type="hidden" asp-for="DependentQuestionListID" />
<input type="hidden" asp-for="QuestionnaireID" />
<input type="hidden" asp-for="SectionID" />
<input type="hidden" asp-for="QuestionID" />
<div class="form-group d-flex">
    <label asp-for="ListValue" class="p-2 text-right" style="flex:0 0 15%"></label>
    <input asp-for="ListValue" class="form-control" style="flex:1 0 auto;width:auto" />
    <span asp-validation-for="ListValue" class="text-danger"></span>
</div>
<div class="form-group d-flex">
    <label asp-for="SortOrder" class="p-2 text-right" style="flex:0 0 15%"></label>
    <input asp-for="SortOrder" class="form-control" style="flex:1 0 auto;width:auto" />
    <span asp-validation-for="SortOrder" class="text-danger"></span>
</div>
<div class="d-flex flex-row">
    <button type="submit"
            asp-page-handler="Save"
            asp-route-dependentQuestionId="@Model.DependentQuestionID"
            class="btn btn-primary btn-sm">
        Save
    </button>
    <span>&nbsp;</span>
    <a asp-page="/DependentQuestions/Edit"
       asp-route-dependentQuestionId="@Model.DependentQuestionID"
       class="btn btn-secondary btn-sm">Cancel</a>
</div>

