@model CustomerAgreements.Models.Question

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="QuestionnaireID" />
<input type="hidden" asp-for="SectionID" />
<input type="hidden" asp-for="ID" />
<input type="hidden" asp-for="QuestionID" />
<div class="form-group d-flex">
    <label asp-for="QuestionTitle" class="p-2 text-right" style="flex:0 0 15%"></label>
    <input asp-for="QuestionTitle" class="form-control" style="flex:1 0 auto;width:auto" />
    <span asp-validation-for="QuestionTitle" class="text-danger"></span>
</div>
<div class="form-group d-flex">
    <label asp-for="QuestionText" class="p-2 text-right" style="flex:0 0 15%"></label>
    <textarea asp-for="QuestionText" class="form-control" style="flex:1 0 auto;width:auto" rows="3"></textarea>
    <span asp-validation-for="QuestionText" class="text-danger"></span>
</div>
<div class="form-group d-flex align-items-center">
    <label asp-for="IsRequired" class="p-2 text-right" style="flex:0 0 15%"></label>
    <div>
        <input type="radio" asp-for="IsRequired" value="true" id="RequiredYes" />
        <label for="RequiredYes">Yes</label>
        <input type="radio" asp-for="IsRequired" value="false" id="RequiredNo" />
        <label for="RequiredNo">No</label>
    </div>
</div>
<div class="form-group d-flex">
    <label asp-for="SortOrder" class="p-2 text-right" style="flex:0 0 15%"></label>
    <input asp-for="SortOrder" class="form-control" style="flex:1 0 auto;width:auto" />
    <span asp-validation-for="SortOrder" class="text-danger"></span>
</div>
<div class="form-group d-flex">
    <label asp-for="AnswerType" class="p-2 text-right" style="flex:0 0 15%"></label>
    <select asp-for="AnswerType"
            asp-items="@(ViewData["AnswerTypeOptions"] as List<SelectListItem>)"
            class="form-control" style="flex:1 0 auto;width:auto">
        <option value="-1">-- Select Answer Type --</option>
    </select>
    <span asp-validation-for="AnswerType" class="text-danger"></span>
</div>

<br />
<div class="d-flex flex-row">
    <button type="submit" asp-page-handler="Save" asp-route-id="@Model.ID" class="btn btn-primary btn-sm">Save</button>
    <span>&nbsp;</span>
    <a asp-page="/Questionnaires/Edit" asp-route-id="@Model.QuestionnaireID" class="btn btn-secondary btn-sm">
        Cancel
    </a>
</div>

