@page "{id:int}/{questionnaireId:int}"
@model CustomerAgreements.Pages.Questions.EditModel

@{
    ViewData["Title"] = "Edit Question";
}

<h1>Edit Question</h1>

<form method="post">
    <partial name="_QuestionForm" model="Model.Question" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/questionForm.js"></script>
}
