@page
@model CustomerAgreements.Pages.Questionnaires.CreateModel
@{
    ViewData["Title"] = "Create new Questionnaire";
}

<h2>Create Questionnaire</h2>
<form method="post">
    <partial name="_QuestionnaireForm" model="Model.Questionnaire" />    
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}