html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sub-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.sub-nav a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #333;
}

.sub-nav .active a {
    background-color: #0078d7; /* blue highlight */
    color: white;
    font-weight: bold;
}

.dependent-question {
    transition: max-height 0.4s ease, opacity 0.4s ease;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
}

.table td {
    vertical-align: top !important;
}